[Unit]
Description=GridTrace Data Aggregator Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=gridtrace
ExecStart=/usr/share/gridtrace/scripts/gridtrace-data.sh

[Install]
WantedBy=multi-user.target
