[Unit]
Description=GridTrace uWSGI Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=gridtrace
Group=www-data
RuntimeDirectory=gridtrace-web
RuntimeDirectoryMode=0750
ExecStart=/usr/share/gridtrace/scripts/gridtrace-web.sh

[Install]
WantedBy=multi-user.target
