[Unit]
Description=GridSense uWSGI Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=gridsense
Group=www-data
RuntimeDirectory=gridsense-web
RuntimeDirectoryMode=0750
ExecStart=/usr/share/gridsense/scripts/gridsense-web.sh

[Install]
WantedBy=multi-user.target
